main/static/main/workflows/handyman/Agent-Intake.json
{
  "name": "Agent-Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "1a059388-4e21-4b8d-a559-2c17db9873c6",
      "name": "Webhook",
      "webhookId": "1c704f5c-9717-4024-9744-874b6031a893"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=IMPORTANT:\nOutput ONLY valid JSON.\nDo NOT use markdown.\nDo NOT use ``` fences.\nDo NOT add explanations.\nThe entire response must start with { and end with }.\nExtract job information from this customer message.\nReturn ONLY JSON with exactly these keys:\n{\n\"service\": \"\",\n\"address\": \"\",\n\"unit\": \"\",\n\"zip\": \"\",\n\"preferred_days\": [],\n\"urgency\": \"low|medium|high\",\n\"notes\": \"\"\n}\n\nRules:\nService:\nNormalize to a clear service name (e.g., \"Replace a Faucet\", \"Garbage Disposal Repair\", \"Install Ceiling Fan and Mount TV\").\nAddress Parsing:\nThe address may contain street address, unit, and zip code in one string.\nIf a 5-digit number appears at the end of the string, extract it as \"zip\".\nIf the string contains \"Apt\", \"Unit\", or \"#\", extract that portion as \"unit\".\nEverything before the unit and zip should be returned as \"address\".\nIf a component is not present, return null.\nDo NOT return null if the data clearly exists in the input.\n\nPreferred Days:\nExtract any mention of days or time preferences.\nReturn as an array of strings.\nIf none mentioned, return [].\n\nUrgency:\nIf the message contains words like \"ASAP\", \"urgent\", \"immediately\", or strong urgency language, return \"high\".\nIf timing is flexible (e.g., next week), return \"low\".\nOtherwise return \"medium\".\n\nNotes:\nSummarize the problem in one concise sentence.\nDo not repeat the full message verbatim.\n\nCustomer message: \n{{ $json.body.message }}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "8a1be045-0b29-4f59-852b-a46534bf6c77",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "9M5z4GXn6LRumd1y",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.content?.parts?.[0]?.text || $json.text || \"\";\n\nconst cleaned = raw\n  .replace(/```json\\s*/i, \"\")\n  .replace(/```\\s*$/i, \"\")\n  .trim();\n\nlet obj;\ntry {\n  obj = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error(\"Gemini output not valid JSON after cleaning. Raw output: \" + raw);\n}\n\nreturn [obj];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        0
      ],
      "id": "0f79fb81-a9ed-4f37-b354-17026a501484",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        768,
        0
      ],
      "id": "f24cfc8a-5008-43e6-af65-2a4554c6430b",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0b3e18cd-bdef-4d7b-980f-c75488c7f826",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "38f3dc12183f6e92ccd012229ade3449c2dc437e8487f2e2911b461c4785b544"
  },
  "id": "CZg4DrOHGxfWkYdf",
  "tags": []
}